*{
	margin: 0px;
}

body{
	background-color: rgba(235, 232, 211, 1);
}
/*Header CSS*/

#header-nav{
    background-color: black;
}

#header-nav .nav-brand h1{
	font-family: 'Poppins', sans-serif;
}

#header-nav .nav-item a{
	font-family: 'Poppins', sans-serif;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs:hover{
	border:none;
}

/*End of Header CSS*/

/* Start Middle Section CSS*/

.row{
	--bs-gutter-x: 0rem;
}


#nature-tile, #wedding-tile, #group-tile{
	height: 250px;
	border-radius: 2%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 5px black;
    transition-property: box-shadow;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

#nature-tile:hover, #wedding-tile:hover, #group-tile:hover{
	box-shadow: 0px 15px 15px black;
}

#nature-tile{
	background: url('../Images/nature.jpg') no-repeat center;
	background-size: 500px auto;
}

#wedding-tile{
	background: url('../Images/wedding.jpg') no-repeat center;
	background-size: 500px auto;
}

#group-tile{
	background: url('../Images/group.jpg') no-repeat center;
	background-size: 500px auto;
}

#nature-tile span, #wedding-tile span, #group-tile span{
	position: absolute;
    bottom: 0%;
    right: 0%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    opacity: .8;
    width: 100%;
    transition-property: opacity ,font-size;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

#nature-tile span:hover, #wedding-tile span:hover, #group-tile span:hover{
	opacity: 0.6;
	font-size: 30px;
}

/*End Middle Section CSS*/

/*Start Footer CSS*/

footer div img{
	width: 40px;
	height: 40px;
	transition-property: width, height;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

footer div img:hover{
	opacity: 0.8;
	width: 45px;
	height: 45px;
}

footer div span{
	font-family: 'Poppins', sans-serif;
}

/*End Footer CSS*/

/*Media Queries*/

/*Media queries for custom carousel*/

@media(min-width: 1400px){
	section .carousel .carousel-item img{
		height: 550px;
	}
}

@media(max-width: 1400px){
	section .carousel .carousel-item img{
		height: 500px;
	}
}

@media(max-width: 1200px){
	section .carousel .carousel-item img{
		height: 450px;
	}
}

@media(max-width: 992px){
	section .carousel .carousel-item img{
		height: 450px;
	}
}

@media(max-width: 768px){
	section .carousel .carousel-item img{
		height: 384px;
	}
}	

@media(max-width: 576px){
	section .carousel .carousel-item img{
		height: 288px;
	}
}

@media(max-width: 290px){
	section .carousel .carousel-item img{
		height: 145px;
	}
}

/*Media queries for categories section	*/

@media(min-width: 1200px){
	#nature-tile.col-lg, #wedding-tile.col-lg, #group-tile.col-lg{
		margin-right: 8px;
		margin-left: 8px;
		background-size: 700px 500px;
	}
}	

@media(min-width: 992px){
	#nature-tile.col-lg, #wedding-tile.col-lg, #group-tile.col-lg{
		margin-right: 8px;
		margin-left: 8px;
		background-size: 600px 500px;
	}
}	

@media(min-width: 768px) and (max-width: 992px){
	#nature-tile.col-md-6{
		width: 48%;
		margin-left: 6px;
		margin-right:auto; 
	}
	#wedding-tile.col-md-6{
		width: 48%;
        margin-right: 6px;
        margin-left: auto;
	}
	#group-tile.col-md-12{
		width: 99%;
		margin-right: auto;
		margin-left: auto;
		background-size: 1080px 500px;
	}
}

@media(max-width: 767px){
	#nature-tile.col-sm-12, #wedding-tile.col-sm-12, #group-tile.col-sm-12{
		width: 99%;
		margin-right: auto;
		margin-left: auto;
		background-size: 900px 500px;
	}
}

@media(max-width: 576px){
	#nature-tile.col-sm-12, #wedding-tile.col-sm-12, #group-tile.col-sm-12{
		width: 99%;
		margin-right: auto;
		margin-left: auto;
		background-size: 800px 500px;
	}
}

@media(max-width: 330px){
	#nature-tile.col-sm-12, #wedding-tile.col-sm-12, #group-tile.col-sm-12{
		width: 99%;
		margin-right: auto;
		margin-left: auto;
		background-size: 500px 500px;
	}
}

